body {
	background-color: blue;
	font-family: 'Comic Sans MS', 'Comic Sans';
}

h1 {
	font-family: 'Comic Sans MS', 'Comic Sans';
	color: white;
}

h2 {
	font-family: 'Comic Sans MS', 'Comic Sans';
	color: white;

}