body {
	background-color: rgb(5.1, 10.2, 20.4);
	font-family: 'Comic Sans MS', 'Comic Sans';
	width: 100%;
}

h1 {
	font-family: 'Comic Sans MS', 'Comic Sans';
	color: white;
}

h2 {
	font-family: 'Comic Sans MS', 'Comic Sans';
	color: white;

}

canvas {
	margin: auto;
	width: 800px;
	padding: 0;
}